<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Font Awesome (optional, for icons) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Agrega estos enlaces en la sección head de tu HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        .swal2-popup {
            background-color: #111827 !important;
            color: #ffffff;
        }

        .swal2-confirm {
            background-color: #4F46E5 !important;
            color: white !important;
            border: none !important;
        }

        .swal2-title,
        .swal2-content {
            color: white !important;
        }
    </style>

</head>

<body class="bg-gray-900 text-white">
    <!-- Contenido de tu aplicación aquí -->
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                alt="Your Company">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">Agregar curso</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-md">
            <form id="cursoForm" class="grid grid-cols-6 gap-4 w-full" action="/guardarCurso" method="post"
                enctype="multipart/form-data">
                <!-- Nombre del Curso -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="nombreCurso">
                        Nombre del Curso:
                    </label>
                    <input id="nombreCurso" name="nombreCurso" type="text" autocomplete="off" required
                        class="w-full rounded-md border-2 border-gray-800 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6 required">
                </div>

                <!-- Tipo de Curso -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="tipoCurso">
                        Tipo de Curso:
                    </label>
                    <select id="tipoCurso" name="tipoCurso"
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                        <option value="Curso">Curso</option>
                        <option value="Certificacion">Certificación</option>
                        <option value="Diplomado">Diplomado</option>
                    </select>
                </div>

                <!-- Duración del Curso -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="duracionCurso">
                        Duración del Curso:
                    </label>
                    <input id="duracionCurso" name="duracionCurso" type="number" autocomplete="off" required
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                </div>

                <!-- Fecha de Inicio -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="fechaInicio">
                        Fecha de Inicio:
                    </label>
                    <input id="fechaInicio" name="fechaInicio" type="date" autocomplete="off" required
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                </div>

                <!-- Quién impartió el Curso -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="instructor">
                        Instructor:
                    </label>
                    <input id="instructor" name="instructor" type="text" autocomplete="off" required
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                </div>

                <!-- Tipo de Institución -->
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-white text-sm font-bold mb-2" for="tipoInstitucion">
                        Lugar:
                    </label>
                    <select id="tipoInstitucion" name="tipoInstitucion"
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                        <option value="Institucion">Institución</option>
                        <option value="Externo">Externo</option>
                    </select>
                </div>

                <!-- Subir Archivo -->
                <div class="col-span-6">
                    <label class="block text-white text-sm font-bold mb-2" for="archivoCurso">
                        Subir Archivo (PDF):
                    </label>
                    <input id="archivoCurso" name="archivoCurso" type="file" accept=".pdf" required
                        class="w-full rounded-md border-0 pl-4 py-1.5 text-white bg-gray-800 focus:ring-0 focus:ring-opacity-0 focus:border-white sm:text-sm sm:leading-6">
                </div>

                <!-- Botón para Aceptar -->
                <button type="button" onclick="confirmarGuardadoCurso()"
                    class="col-span-6 mt-4 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
                    Guardar Curso
                </button>

                <a href="/principal"
                    class="col-span-6 text-center mt-4 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Ir
                    a mis cursos</a>
            </form>

        </div>
    </div>

    <!-- SWEET ALERT DE CONFIRMACION PARA GUARDAR EL CURSO-->
    <script>
        function confirmarGuardadoCurso() {
            Swal.fire({
                title: '¿Estás seguro de guardar el curso?',
                text: 'Esta acción no se puede deshacer.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, guardar curso',
                cancelButtonText: 'Cancelar'
            }).then(async (result) => {
                if (result.isConfirmed) {
                    try {
                        // Enviar el formulario
                        document.getElementById('cursoForm').submit();
                    } catch (error) {
                        // Manejar errores
                        console.error('Error al enviar el formulario:', error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Hubo un problema al intentar guardar el curso. Por favor, inténtalo de nuevo.',
                        });
                    }
                } else {
                    // El usuario eligió "Cancelar" o hubo algún problema
                    Swal.fire({
                        icon: 'info',
                        title: 'Acción cancelada',
                        text: 'No se ha guardado el curso.',
                    });
                }
            });
        }

        // Agrega el siguiente código para recargar la página después de mostrar el SweetAlert
        window.addEventListener('load', function () {
            const params = new URLSearchParams(window.location.search);
            const success = params.get('success');
            const message = params.get('message');

            if (success && message) {
                Swal.fire({
                    icon: success === 'true' ? 'success' : 'error',
                    title: success === 'true' ? '¡Éxito!' : 'Error',
                    text: decodeURIComponent(message),
                });
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>

</body>

</html>